@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}

* {
    box-sizing: border-box;
}

/* General section */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: black;
    background-color: white;
    padding-bottom: 0;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

/*        All Nav Bar Code        */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #6495ED;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    z-index: 10;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
}

li a:hover {
    background-color: coral;
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #6495ED;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
/*          Nav Bar Code End          */


/* header section */
header {
    /* Location of the image */
    background-image: linear-gradient(0deg, #fff 1%, transparent),
        url(../img/chicago-bnd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 65px;
}

.name {
    font-size: 40px;
    text-align: center;
    color: black;
}

.title {
    font-size: 20px;
    text-align: center;
    color: black;
}

.location {
    font-size: 15px;
    text-align: center;
    color: black;
}

.down-arrow {
    height: 35px;
    width: 35px;
}

.animate-pop-in {
    animation: pop-in .9s ease-out forwards; /* Animation class */
}

/* Container */

h2 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
}

.signUp-img,
.gallery-img,
.directory-img,
.game-img,
.your-app-img {
    height: 180px;
    width: 180px;
}

.directory-img {
    margin-bottom: 10px;
}

.grid-item {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 90px;
}

h3 {
    padding-top: 10px;
}

.grid-content {
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: .5px;
}

.btn {
    border-radius: 5px;
    background-color: coral;
    color: #fff;
    border: none;
    padding: 10px;
    width: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05) translateY(-3px);
    background-color: darkcyan;
    color: #fff;
    cursor: pointer;
}

/* About Me */

#about-me {
    background-color: whitesmoke;
    padding-bottom: 40px;
}

.my-background .about-me {
    text-align: center;
}

.background-txt {
    padding-left: 13px;
    padding-right: 13px;
    letter-spacing: .5px;
    font-size: 20px;
}

.profile-img {
    border-radius: 50%;
    height: 240px;
    width: 220px;
    border: 3px solid coral;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.abt-me {
    color: #6495ED;
}

/* Footer */

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 0;
    text-align: center;
}

footer .copyright {
    font-size: .75em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}

/* Footer Links */
a.linkedin {
    background-image: url(../img/linkedin-icon.png);
}

a.github {
    background-image: url(../img/github-icon.png);
}

a.social:hover {
    opacity: 1;
}

.clearfix {
    clear: both;
}

/* Media Queries */

@media (min-width: 768px) {  /* Tablet Screen Size */
    
    body {
        padding-bottom: 0;
    }

    .grid-container {
        display: grid;
    }

    .my-pjs {
        color: #6495ED;
    }

    .signUp-img,
    .gallery-img,
    .directory-img {
        height: 200px;
        width: 200px;
    }

    .grid-item {
        margin-left: 100px;
        margin-right: 100px;
    }

    #about-me {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .my-background {
        margin-left: 80px;
        margin-right: 80px;
    }

    .profile-img {
        height: 260px;
        width: 240px;
    }

    .background-txt {
        font-size: 20px;
    }

    footer {
        background-color: whitesmoke;
    }

    #links {
        background-color: whitesmoke;
        padding-top: 40px;
    }
}

@media (min-width: 1024px) {  /* Laptop-Desktop Screen Size */
    body {
        max-width: 1300px;
        height: 100%;
    }

    header {
        padding-top: 105px;
        padding-bottom: 125px;
    }

    .name {
        font-size: 80px;
        margin-bottom: 0;
        text-align: center;
        color: black;
    }
    
    .title {
        font-size: 40px;
        text-align: center;
        color: black;
    }
    
    .location {
        font-size: 25px;
        text-align: center;
        color: black;
    }
    
    .down-arrow {
        height: 55px;
        width: 55px;
    }

    .grid-container {
        display: grid;
        grid-column-gap: 50px;
    }

    .my-pjs {
        font-size: 35px;
    }

    .abt-me {
        font-size: 35px;
        margin: 55px;
    }

    .grid-item {
        width: 30%;
        margin: 0;
    }

    h3 {
        padding: 0;
    }

    .directory-img {
        margin: 0;
        height: 190px;
        width: 190px;
        padding-bottom: 10px;
    }

    .grid-content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .my-background {
        display: flex;
        flex-direction: column;
        max-width: 1300px;
    }

    .profile-img {
        float: left;
        width: 310px;
        height: 340px;
        margin-right: 60px;
        margin-top: 10px;
    }

    .background-txt {
        font-size: 25px;
        padding: 0;
        margin: 0;
    }

}





